services:

# set a restart policy for each service
# https://docs.docker.com/engine/containers/start-containers-automatically/

  nginx:
    depends_on:
      wordpress:
        condition: service_healthy
    build:
      context: ./requirements/nginx/
    image: inception-nginx:1.0.0
    restart: unless-stopped
    ports:
      - "443:443"
    networks:
      - docker-network
    volumes:
      - db_wordpress:${DOCUMENT_ROOT_WP}
      - db_adminer:${DOCUMENT_ROOT_ADMINER}
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
      - DOCUMENT_ROOT_HTTP=${DOCUMENT_ROOT_HTTP}

  wordpress:
    depends_on:
      mariadb:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
    build:
      context: ./requirements/wordpress/
    image: inception-wordpress:1.0.0
    restart: unless-stopped
    networks:
      - docker-network
    volumes:
      - db_wordpress:${WP_VOLUME}
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
      - WP_DB_NAME=${WP_DB_NAME}
      - WP_DB_USER=${WP_DB_USER}
      - WP_VOLUME=${WP_VOLUME}
      - WP_DB_PASSWORD_FILE=${WP_DB_PASSWORD_FILE}
      - WP_DB_HOST=${WP_DB_HOST}
      - WP_SITEURL=${WP_SITEURL}
      - WP_SITE_TITLE=${WP_SITE_TITLE}
      - WP_ADMIN_NAME=${WP_ADMIN_NAME}
      - WP_ADMIN_PASSWORD_FILE=${WP_ADMIN_PASSWORD_FILE}
      - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
      - WP_USER_NAME=${WP_USER_NAME}
      - WP_USER_PASSWORD_FILE=${WP_USER_PASSWORD_FILE}
      - WP_USER_ROLE=${WP_USER_ROLE}
      - WP_USER_EMAIL=${WP_USER_EMAIL}
      - WP_REDIS_HOST=${WP_REDIS_HOST}
      - WP_REDIS_PORT=${WP_REDIS_PORT}
      - WP_REDIS_PREFIX=${WP_REDIS_PREFIX}
      - WP_REDIS_DATABASE=${WP_REDIS_DATABASE}
      - WP_REDIS_TIMEOUT=${WP_REDIS_TIMEOUT}
      - WP_REDIS_READ_TIMEOUT=${WP_REDIS_READ_TIMEOUT}
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 5s
      retries: 10
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password

  mariadb:
    build:
      context: ./requirements/mariadb/
    image: inception-mariadb:1.0.0
    restart: unless-stopped
    networks:
      - docker-network
    volumes:
      - db_mariadb:${MARIADB_VOLUME}
    environment:
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD_FILE=${MARIADB_PASSWORD_FILE}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_ROOT_PASSWORD_FILE=${MARIADB_ROOT_PASSWORD_FILE}
      - MARIADB_VOLUME=${MARIADB_VOLUME}
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 5s
      retries: 10
    secrets:
      - db_root_password
      - db_password

  adminer:
    depends_on:
      mariadb:
        condition: service_healthy
        restart: true
    build:
      context: ./requirements/bonus/adminer/
    image: inception-adminer:1.0.0
    restart: unless-stopped
    networks:
      - docker-network
    volumes:
      - db_adminer:${ADMINER_VOLUME}
    environment:
      - ADMINER_VOLUME=${ADMINER_VOLUME}
  
  ftp:
    depends_on:
      wordpress:
        condition: service_healthy
        restart: true
    build:
      context: ./requirements/bonus/ftp/
    image: inception-ftp:1.0.0
    restart: unless-stopped
    ports:
      - "20-21:20-21"
      - "1024-1048:1024-1048"
    networks:
      - docker-network
    volumes:
      - db_wordpress:${FTP_VOLUME}
    environment:
      - FTP_VOLUME=${FTP_VOLUME}

  redis:
    depends_on:
      mariadb:
        condition: service_healthy
        restart: true
    build:
      context: ./requirements/bonus/redis/
    image: inception-redis:1.0.0
    restart: unless-stopped
    networks:
      - docker-network
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      start_period: 10s
      interval: 5s
      retries: 10

  static-site:
    build:
      context: ./requirements/bonus/static-site/
    image: inception-static-site:1.0.0
    restart: unless-stopped
    networks:
      - docker-network

  uptime-kuma:
    build:
      context: ./requirements/bonus/uptime-kuma/
    image: inception-uptime-kuma:1.0.0
    restart: unless-stopped
    networks:
      - docker-network
    volumes:
      - db_uptime-kuma:${UPTIME_KUMA_VOLUME}/data
    environment:
      - UPTIME_KUMA_DB_TYPE=${UPTIME_KUMA_DB_TYPE}
      - UPTIME_KUMA_VOLUME=${UPTIME_KUMA_VOLUME}
    extra_hosts:
      - "$DOMAIN_NAME:host-gateway"

# use the default network driver
networks:
    docker-network:
      driver: bridge

# specify a mount point on the host for a named volume
# https://forums.docker.com/t/how-to-mount-docker-volume-along-with-subfolders-on-the-host/120482/2
volumes:
  db_wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '$HOST_DB_PATH/wordpress'
  db_mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '$HOST_DB_PATH//mariadb'
  db_adminer:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '$HOST_DB_PATH/adminer'
  db_uptime-kuma:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '$HOST_DB_PATH/uptime-kuma'

# Secrets are mounted as a file in /run/secrets/<secret_name> inside the container.
secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt
