services:
  nginx:
    depends_on:
      - wordpress
    build: ./requirements/nginx/
    ports:
      - "443:443"
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    networks:
      - frontend
    volumes:
      - db_wordpress:${WP_VOLUME}
      # - type: bind
      #   source: ${HOST_DB_PATH}/wordpress
      #   target: ${WP_VOLUME}

  wordpress:
    depends_on:
      - mariadb
    build: ./requirements/wordpress/
    networks:
      - frontend
      - backend
    volumes:
      - db_wordpress:${WP_VOLUME}
      # - type: bind
      #   source: ${HOST_DB_PATH}/wordpress
      #   target: ${WP_VOLUME}
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
      - WP_DB_NAME=${WP_DB_NAME}
      - WP_USER_NAME=${WP_USER_NAME}
      - WP_VOLUME=${WP_VOLUME}
      - WP_DB_PASSWORD_FILE=${WP_DB_PASSWORD_FILE}
    secrets:
      - db_password

  mariadb:
    build: ./requirements/mariadb/
    networks:
      - backend
    volumes:
      - db_data:${MARIADB_VOLUME}
    environment:
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD_FILE=${MARIADB_PASSWORD_FILE}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_ROOT_PASSWORD_FILE=${MARIADB_ROOT_PASSWORD_FILE}
      - MARIADB_VOLUME=${MARIADB_VOLUME}
      - MARIADB_WP_USER_NAME=${MARIADB_WP_USER_NAME}
    secrets:
      - db_root_password
      - db_password

# use the default network driver
networks:
    frontend:
      driver: bridge
    backend:
      driver: bridge

volumes:
  db_wordpress:
  db_data:

# Secrets are mounted as a file in /run/secrets/<secret_name> inside the container.
secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt

