services:

# set a restart policy for each service
# https://docs.docker.com/engine/containers/start-containers-automatically/

  nginx:
    depends_on:
      wordpress:
        condition: service_healthy
    build: ./requirements/nginx/
    restart: unless-stopped
    ports:
      - "443:443"
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    networks:
      - docker-network
    volumes:
      - db_wordpress:${WP_VOLUME}

  wordpress:
    depends_on:
      mariadb:
        condition: service_healthy
        restart: true
    build: ./requirements/wordpress/
    restart: unless-stopped
    networks:
      - docker-network
    volumes:
      - db_wordpress:${WP_VOLUME}
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
      - WP_DB_NAME=${WP_DB_NAME}
      - WP_DB_USER=${WP_DB_USER}
      - WP_VOLUME=${WP_VOLUME}
      - WP_DB_PASSWORD_FILE=${WP_DB_PASSWORD_FILE}
      - WP_DB_HOST=${WP_DB_HOST}
      - WP_SITEURL=${WP_SITEURL}
      - WP_SITE_TITLE=${WP_SITE_TITLE}
      - WP_ADMIN_NAME=${WP_ADMIN_NAME}
      - WP_ADMIN_PASSWORD_FILE=${WP_ADMIN_PASSWORD_FILE}
      - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 5s
      retries: 5
    secrets:
      - db_password
      - wp_admin_password

  mariadb:
    build: ./requirements/mariadb/
    restart: unless-stopped
    networks:
      - docker-network
    volumes:
      - db_mariadb:${MARIADB_VOLUME}
    environment:
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD_FILE=${MARIADB_PASSWORD_FILE}
      - MARIADB_DATABASE=${MARIADB_DATABASE}
      - MARIADB_ROOT_PASSWORD_FILE=${MARIADB_ROOT_PASSWORD_FILE}
      - MARIADB_VOLUME=${MARIADB_VOLUME}
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 5s
      retries: 5
    secrets:
      - db_root_password
      - db_password

# use the default network driver
networks:
    docker-network:
      driver: bridge

# specify a mount point on the host for a named volume
# https://forums.docker.com/t/how-to-mount-docker-volume-along-with-subfolders-on-the-host/120482/2
volumes:
  db_wordpress:
    # driver: local
    # driver_opts:
    #   type: 'none'
    #   o: 'bind'
    #   device: '/home/tmitsuya/data/wordpress'
  db_mariadb:
    # driver: local
    # driver_opts:
    #   type: 'none'
    #   o: 'bind'
    #   device: '/home/tmitsuya/data/mariadb'

# Secrets are mounted as a file in /run/secrets/<secret_name> inside the container.
secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt

