 <!DOCTYPE html>
 <html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
		<meta name="description" content="Introduction of Takato Mitsuya" />
        <title>tmitsuya's home page</title>
	</head>
    <body>
		<main>
			<h2>Welcome to tmitsuya's home page</h2>
			<h3>Work / Project</h3>
			<p><a href="https://tmitsuya.42.fr">WordPress web site</a></p>
		</main>
		<footer>
			<h3>contact</h3>
			<p>
				tmitsuya@student.codam.nl
			</p>
		</footer>
    </body>
 </html>